
body {
  font-family: Arial;
  text-align: center;
}

#map {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  gap: 5px;
  margin: 20px auto;
  width: max-content;
}

.tile {
  width: 60px;
  height: 60px;
  background: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.player {
  background: gold;
}

#event {
  margin-top: 20px;
}
